body {
	margin: 0;

	background-color: #fff;

	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	line-height: 1.4;
	color: #585858;
}

body.no-scroll {
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0 0 10px;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.img {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

/* Container */
.container {
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Page */
.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Header */
.header {
	width: 100%;
	background-color: rgba(0,0,0, 0.2);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
}

.header--dark {
	background-color: rgba(0,0,0, 0.8);
}

.header__inner {
	height: 85px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Nav */
.nav {
	display: flex;
	font-size: 15px;
	height: 100%;
}

.nav__link {
	display: flex;
	align-items: center;
	padding: 0 15px;

	color: #fff;
	text-decoration: none;
}

.nav__link:not(.active):hover {
	text-decoration: underline;
}

.nav__link.active {
	background-color: #004AF2;
}

/* intro */
.intro {
	margin-bottom: 30px;

	background: #000 url("../images/intro-bg.jpg") no-repeat center;
	background-size: cover;
}

.intro--blog {
	height: 350px;
	background: #000 url("../images/blog-bg.jpg") no-repeat center;
	background-size: cover;
}

.intro--text {
	height: 350px;
	background: #000 url("../images/text-bg.jpg") no-repeat center;
	background-size: cover;
}

.intro__inner {
	height: 600px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.intro__text {
	margin-bottom: 45px;
	text-align: right;
}

.intro__countries {

	color: #FFFFFF;
}

.intro__title {
	position: relative;

	font-family: 'Lato', sans-serif;
	font-size: 110px;
	color: rgba(255,255,255, 0.8);
	font-weight: 700;
	line-height: 0.9;
}

.intro__title-amp {
	position: absolute;
	right: 0;
	top: 50%;

	transform: translateY(-50%);

	font-size: 170px;
	font-weight: 900;
	color: rgba(255,255,255, 0.2);
	line-height: 1;
}

/* request-form */
.request-form {
	width: 100%;
	max-width: 400px;
	overflow: hidden;

	background-color: #004AF2;
	border-radius: 5px;
}

.request-form--intro {
	position: relative;
	bottom: -30px;
}

.request-form--right {
	margin-left: auto;
}

.request-form__header {
	padding: 20px 30px;
	background-color: #033FC9;
}

.request-form__title {
	margin-bottom: 5px;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 900;
	color: #fff;
}

.request-form__text {
	font-size: 15px;
	color: #fff;
	line-height: 1.4;
}

.request-form__content {
	padding: 30px;
}

/* Form */
.form__group {
	margin-bottom: 25px;
}

.input {
	display: block;
	width: 100%;
	padding-bottom: 12px;
	padding-left: 50px;
	background: none;
	border: none;
	border-bottom: 1px solid rgba(255,255,255, 0.25);

	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #fff;

	transition: border-color .1s linear;
}

.input::placeholder {
	color: #fff;
}

.input:focus {
	outline: none;
	border-bottom-color: #fff;
}

.input--user {
	background: url("../images/user-icon.svg") left 15px top 5px no-repeat;
}

.input--phone {
	background: url("../images/phone-icon.svg") left 15px top 5px no-repeat;
}

.input--email {
	background: url("../images/mail-icon.svg") left 15px top 6px no-repeat;
}

.input--dark {
	color: #2C2C2C;
	border-bottom-color: #E8E8E8;
}

.input--dark::placeholder {
	color: #2C2C2C;
}

.input--dark:focus {
	border-bottom-color: #000;
}

.input--dark.input--user {
	background-image: url("../images/user-black-icon.svg");
}

.input--dark.input--email {
	background-image: url("../images/mail-black-icon.svg");
}

.input--dark.input--phone {
	background-image: url("../images/phone-black-icon.svg");
}

/* BTN */
.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 15px 45px;
	position: relative;
	overflow: hidden;

	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	line-height: 1.1;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	text-align: center;
	cursor: pointer;

	background: #333;
	border: 0;
	border-radius: 5px;
}

.btn:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;

	background-color: #000;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	transition: opacity .1s linear;
}

.btn:hover:before {
	opacity: 0.1;
}

.btn span {
	position: relative;
	z-index: 2;
}

.btn--block {
	display: block;
	width: 100%;
}

.btn--orange {
	background-image: linear-gradient(to right, #FF903E, #FF2C2C);
}



.btn--shadow {
	box-shadow: 0 10px 15px rgba(0,0,0, 0.2);
}

/* Section */
.section {
	padding: 60px 0;
}

.section--map {
	background: url(../images/map.svg) no-repeat left 30px top 130px;
}

.section--grey {
	background-color: #f9f9f9;
}

.section--last {
	margin-bottom: 60px;
}

.section__title {
	margin-bottom: 40px;
	font-family: 'Lato', sans-serif;
	font-size: 45px;
	line-height: 1.2;
	font-weight: 900;
	color: #2C2C2C;
}

.section__title span {
	color: #0D53F2;
}

/* Services */
.services {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 0 50px;
	position: relative;

	border-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 30px rgba(0,0,0, 0.2);
}

.services__main-title {
	font-family: 'Lato', sans-serif;
	font-size: 90px;
	color: rgba(44, 44, 44, .05);
	font-weight: 900;
	line-height: 1;
	position: absolute;
	bottom: 12px;
	right: 30px;
	z-index: 1;
	pointer-events: none;
}

.services__item {
	display: flex;
	flex-direction: column;
	width: 25%;
	padding: 0 25px;
	margin-bottom: 30px;
}

.services__title {
	margin-bottom: 20px;
	font-size: 24px;
	color: #2C2C2C;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
	line-height: 1.2;
}

.services__text {
	margin-bottom: 20px;
	font-size: 15px;
	color: #585858;
}

.services__footer {
	margin-top: auto;
}

.services__link {
	display: inline-block;
	font-size: 15px;
	color: #004AF2;
	text-decoration: none;

	transition: color .1s linear;
}

.services__link:after {
	content: "";
	display: block;
	width: 10px;
	height: 2px;
	background-color: #004AF2;
	margin-top: 5px;

	transition: width .1s linear;
}

.services__link:hover {
	color: #FF3E2F;
}

.services__link:hover:after {
	width: 100%;
	background-color: #FF3E2F;
}

/* Clients */
.clients {
	display: flex;
	margin-bottom: 60px;
}

.clients__logos {
	width: 60%;
}

.clients__reviews {
	width: 40%;
}

.clients__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.clients__list li {
	margin-right: 50px;
	margin-bottom: 40px;
}

.clients-love {
	display: inline-block;
	margin-left: 40px;
	min-height: 47px;
	padding-top: 5px;
	font-size: 18px;
	color: #464646;

	background: url(../images/heart.svg) no-repeat left 19px top;
}

/* Reviews */
.reviews {
	position: relative;
}

.reviews:before {
	content: "";
	display: block;
	width: 92px;
	height: 126px;

	background: url("../images/lines.svg") no-repeat;

	position: absolute;
	top: -15px;
	left: 2px;
	z-index: 1;
}

.reviews__header {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	position: relative;
	z-index: 2;

}

.reviews__header-content {
	flex-grow: 1;
	padding-left: 20px;
	font-family: 'Lato', sans-serif;
}

.reviews__photo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid #fff;
	box-shadow: 0 3px 6px rgba(0,0,0, 0.16);

}

.reviews__name {
	font-size: 18px;
	color: #2C2C2C;
	font-weight: 900;
}

.reviews__company {
	font-size: 15px;
	color: #2C2C2C;
}

.reviews__content {
	font-size: 15px;
	line-height: 1.8;
	color: #585858;
}

.reviews__content p {
	margin-bottom: 20px;
}

.reviews__content p::first-line {
	text-indent: 20px;
}

/* Benefits */
.benefits {
	display: flex;
}

.benefits__col {
	width: 50%;
}

.benefits-list {
	width: 100%;
	max-width: 370px;
	padding-left: 50px;
	position: relative;

	background-image:linear-gradient(to bottom, #fff 40%, #a5a5a5 40%);
	background-size: 2px 35px;
	background-repeat: repeat-y;
	background-position:left 12px top -4px;
}

.benefits-list:before,
.benefits-list:after {
	content: "";
	display: block;
	width: 26px;
	height: 36px;

	background-repeat: no-repeat;
	background-color: #fff;
	position: absolute;

	left: 0;
	z-index: 1;
}

.benefits-list:before {
	background-image: url("../images/pin-start.svg");
	top: -5px;
}

.benefits-list:after {
	background-image: url("../images/pin-end.svg");
	bottom: -4px;
}

.benefits-list__item:not(:last-child) {
	margin-bottom: 35px;
}

.benefits-list__title {
	margin-bottom: 12px;
	font-family: 'Lato', sans-serif;
	font-size: 21px;
	line-height: 1.2;
	color: #2C2C2C;
	font-weight: 900;
}

.benefits-list__text {
	font-size: 15px;
	color: #585858;
}

/* Team */

.team {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.team__col {
	width: 33.33333%;
	padding: 0 15px;
	margin-bottom: 30px;
}

.team__photo {
	margin-bottom: 13px;
	box-shadow: 10px 5px 13px rgba(0,0,0, 0.16);
}

.team__name {
	margin-bottom: 5px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 900;
	color: #2C2C2C;
	line-height: 1.2;
}

.team__prof {
	font-size: 15px;
	color: #585858;
	margin-bottom: 11px;
}

.team__contacts {
	font-size: 14px;
	line-height: 1.2;
	color: #585858;
}

.team__contacts li {
	margin-bottom: 9px;
}

.team__contacts a {
	color: #585858;
	text-decoration: none;
}

.team__contacts a:hover {
	text-decoration: underline;
}

.team__contacts-icon {
	width: 16px;
	height: auto;
	margin-right: 7px;
}

/* Mission */
.mission-title {
	font-family: 'Lato', sans-serif;
	font-size: 90px;
	font-weight: 900;
	color: rgba(0,0,0, 0.05);
	text-transform:uppercase;
	line-height: 1;
	text-align: center;
}

.mission {
	padding: 60px 30px;
	margin-bottom: 30px;
	position: relative;
	margin-top: -20px;

	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 30px rgba(0,0,0, 0.16);
	text-align: center;
	font-family: 'Lato', sans-serif;
}

.mission:before,
.mission:after {
	content: "";
	display: block;
	width: 41.66666%;
	height: 2px;
	position: absolute;
	bottom: 0;
	z-index: 1;
}

.mission:before {
	background-color: #004AF2;
	right: 50%;
}

.mission:after {
	background-color: #FC2C2B;
	left: 50%;
}

.mission__title {
	margin-bottom: 5px;
	color: #004AF2;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
}

.mission__subtitle {
	color: #585858;
	font-size: 21px;
	font-weight: 400;
}

/* Articles */
.articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
}

.articles--column {
	flex-direction: column;
}

.articles--column
.articles__item {
	max-width: none;
	margin-bottom: 45px;
}

.articles__item {
	width: 100%;
	max-width: 500px;
	margin-bottom: 20px;
}

.articles__title {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 800;
	color: #2C2C2C;
}

.articles__title a {
	color: inherit;
	text-decoration: none;
}

.articles__title a:hover {
	text-decoration: underline;
}

.articles__text {
	margin-bottom: 15px;
	font-size: 15px;
	color: #585858;
}

.articles__date {
	display: block;

	font-size: 12px;
	color: #6E6E6E;
}

/* Footer */
.footer {
	margin-top: auto;
	text-align: center;
	padding: 40px 0;
	background-color: #F9F9F9;
	background-image: url(../images/tire-left.svg), url(../images/tire-right.svg);
	background-repeat: no-repeat;
	background-position: left -50px bottom -80px, right -50px bottom -80px;
}

.footer__contacts {
	margin: 25px 0;
	color: #585858;
	font-weight: 700;
	font-size: 12px;
	font-style: normal;
}

.footer__contacts p {
	margin: 0 0 5px;
}

.footer__contacts a {
	color: inherit;
	text-decoration: none;
}

.footer__contacts a:hover {
	text-decoration: underline;
}

.footer__nav {
	font-size: 12px;
}

.footer__nav a {
	margin: 0 5px;
	color: #004AF2;
	text-decoration: none;
}

.footer__nav a:hover {
	text-decoration: underline;
}

/* Modals */
.modal {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
}

.modal.show {
	display: flex;
}

.modal__inner {
	position: relative;
	width: 400px;
	padding: 25px;
	background-color: #fff;
}

.modal__header {
	text-align: center;
	margin-bottom: 25px;
}

.modal__icon {
	margin-bottom: 10px;
}

.modal__title {
	margin-bottom: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	color: #004AF2;
	font-weight: 900;
	line-height: 1.2;
}

.modal__text {
	font-size: 15px;
	color: #2C2C2C;
}

.modal__footer {
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid #E8E8E8;
	text-align: center;
}

.modal__footer-title {
	margin-bottom: 10px;
	font-family: 'Lato',sans-serif;
	font-size: 18px;
	font-weight: 900;
	color: #585858;
}

.modal__contacts {
	font: 15px;
	color: #2C2C2C;
	font-style: normal;
}

.modal__contacts p {
	margin-bottom: 3px;
}

.modal__contacts a {
	color: inherit;
	text-decoration: none
}

.modal__contacts a:hover {
	text-decoration: underline;
}

.modal__close {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: -20px;
	right: -30px;
	z-index: 1;

	transition: transform .2s linear;
}

.modal__close:hover {
	transform: rotate(90deg);
}

.modal__close img {
	display: block;
}

/* Main */
.main {
	display: flex;
}

.main__col {
	width: 50%;
}

/* Text */
.text {
	max-width: 890px;
	font-size: 18px;
	color: #585858;
	line-height: 1.5;
	margin-bottom: 50px;
}

.text p {
	margin-bottom: 20px;
}

.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
	margin-bottom: 20px;
	color: #2C2C2C;
	font-weight: 700;
}

.text h2 {
	font-size: 27px;
}

.text h3 {
	font-size: 24px;
}

.text h4 {
	font-size: 21px;
}

.text h5 {
	font-size: 18px;
}

.text h6 {
	font-size: 15px;
}

.text ol,
.text ul {
	margin-bottom: 20px;
}

.text ol {
	list-style: decimal;
	list-style-position: inside;
}

.text img {
	display: block;
	max-width: 100%;
	height: auto;
}

.text a {
    color: #0D53F2;
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}


/* Media Queries */

@media (max-width: 767px) {

    /* Header */
    .header__inner {
        height: 50px;
    }


    /* Nav */
    .nav {
        display: none;
        width: 100%;
        height: auto;
        min-height: calc(100vh - 50px);
        flex-direction: column;
        padding-top: 9px;

        background-color: rgba(0, 0, 0, .85);

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .nav__link {
        display: block;
        padding: 10px 15px;
        text-align: right;
    }
    .burger {
        display: block;
    }


    /* Intro */
    .intro__inner {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-top: 75px;
        padding-bottom: 25px;
    }

    .intro__text {
        order: 1;
        width: 100%;
        margin-bottom: 25px;

        text-align: center;
    }
    .intro__title {
        font-size: 90px;
    }

    .intro__title-amp {
        font-size: 120px;
        right: auto;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }


    /* Request form */
    .request-form--intro {
        order: 2;
        position: static;
    }
}

@media (max-width: 575px) {
    .intro__title {
        font-size: 60px;
    }
    .intro__title-amp {
        font-size: 90px;
    }
}










