body {
	margin: 0;

	background-color: #fff;

	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #585858;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Container */
.container {
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Header */
.header {
	width: 100%;
	background-color: rgba(0,0,0, 0.2);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
}

.header__inner {
	height: 85px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Nav */
.nav {
	display: flex;
	font-size: 15px;
	height: 100%;
}

.nav__link {
	display: flex;
	align-items: center;
	padding: 0 15px;

	color: #fff;
	text-decoration: none;
}

.nav__link.active {
	background-color: #004AF2;
}

/* intro */
.intro {

	background: #000 url("../images/intro-bg.jpg") no-repeat center;
	background-size: cover;
}

.intro__inner {
	height: 600px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.intro__text {
	margin-bottom: 45px;
	text-align: right;
}

.intro__countries {

	color: #FFFFFF;
}

.intro__title {
	position: relative;

	font-family: 'Lato', sans-serif;
	font-size: 110px;
	color: rgba(255,255,255, 0.8);
	font-weight: 700;
	line-height: 0.9;
}

.intro__title-amp {
	position: absolute;
	right: 0;
	top: 50%;

	transform: translateY(-50%);

	font-size: 170px;
	font-weight: 900;
	color: rgba(255,255,255, 0.2);
	line-height: 1;
}

/* request-form */
.request-form {
	width: 100%;
	max-width: 400px;
	overflow: hidden;

	background-color: #004AF2;
	border-radius: 5px;
}

.request-form--intro {
	position: relative;
	bottom: -30px;
}

.request-form__header {
	padding: 20px 30px;
	background-color: #033FC9;
}

.request-form__title {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 900;
	color: #fff;
}

.request-form__text {
	font-size: 15px;
	color: #fff;
	line-height: 1.4;
}

.request-form__content {
	padding: 30px;
}

/* Form */
.form__group {
	margin-bottom: 25px;
}

.input {
	display: block;
	width: 100%;
	padding-bottom: 12px;
	padding-left: 50px;
	background: none;
	border: none;
	border-bottom: 1px solid rgba(255,255,255, 0.25);

	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #fff;

	transition: border-color .1s linear;
}

.input::placeholder {
	color: #fff;
}

.input:focus {
	outline: none;
	border-bottom-color: #fff;
}

.input--user {
	background: url("../images/user-icon.svg") left 15px top 5px no-repeat;
}

.input--phone {
	background: url("../images/phone-icon.svg") left 15px top 5px no-repeat;
}

.input--email {
	background: url("../images/mail-icon.svg") left 15px top 6px no-repeat;
}

/* BTN */
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 11px 20px;

	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	line-height: 1.1;

	color: #fff;
	font-weight: 700;
	text-align: center;
	cursor: pointer;

	background: #333;
	border: 0;
	border-radius: 5px;
}

.btn--block {
	display: block;
	width: 100%;
}

.btn--orange {
	background-image: linear-gradient(to right, #FF903E, #FF2C2C);
}











